body {
  background-color: #f1f1f1;
  font-family: Arial, sans-serif;
}

:root {
  --sidebar-width: 100px;
}
a{
 text-decoration: none;
 color: black;
 &:hover{
     color: #603ae5;
 }
}

.sidebar {
  width: var(--sidebar-width);
  background-color:#603ae5;
  height: 100vh;
  text-align: center;
  padding: 20px 0;
}
.sidebar h4{
 font-weight: 600;
 color: white;
}
.sidebar ul li a{
  text-decoration: none;
  color: white;
  font-size: 12px;
  i{
     font-size: 16px;
     line-height: 16px;
  }
}
.sidebar ul li {
 padding: 5px 0;
 cursor: pointer;
 margin-bottom: 5px;
 position: relative;
 &::after{
     position: absolute;
     content: '';
     left: 0;
     background-color: white;
     height: 100%;
     width: 3px;
     opacity: 0;
     visibility: hidden;
     top: 0;
 }
}
.sidebar ul li:hover{
 background-color:#6d56cb;
 &::after{
     visibility: visible;
     opacity: 1;
 }
}

.btn-primary{
 background: #603ae5;
 border: 0;
 font-size: 14px;
 &:hover{
     background: #6d56cb;
 }
}

.main-content {
  width: calc(var(--sidebar-width) - 100vw);
  background-color: red;

}
.badge-btn {
 font-size: 14px;
 padding: 9px 15px;
 border-radius: 5px;
 font-weight: 500;
 background: #f1fbf9;
 cursor: pointer;
 &.success{
     color: green;
 }
 &.purple{
     color: #6d56cb;
     background-color: #e6e0fc;
 }
}
.form-select.purple{
 color: #6d56cb;
 background-color: #e6e0fc;
}

.bill-image{
 height: 60px;
 width: 60px;
 object-fit: cover;
 padding: 2px;
 border: 1px solid rgb(192, 192, 192);
 border-radius: 5px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
 background: transparent;
 color: #1d1d1d;
 border: 1px solid #dfdfdf;
}
.nav-pills .nav-link{
 color: rgb(132, 132, 132);
}

.invoice-back{
 border: 1px dashed rgb(161, 161, 161);
 padding: 10px;
 border-radius: 10px;
}
.img-box{
 width: 60%;
}
.bg-invoice{
 border-radius: 10px;
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: #f6deba;
 height: 600px;
}
small{
 font-size: 12px;
}
.checkbox-label {
 font-weight: 500;
}
.btn-primary {
 background-color: #6c4cf0;
 border-color: #6c4cf0;
 border-radius: 10px;
}
.btn-primary:hover {
 background-color: #5a3de0;
}
.nav-tabs .nav-link {
 color: #6c4cf0;
}
.nav-tabs .nav-link.active {
 font-weight: bold;
 border-bottom: 3px solid #6c4cf0;
}
.pagination button {
 border: none;
 background: none;
}
.pagination i {
 font-size: 1.5rem;
 color: gray;
}
.form-check-input:checked {
 background-color: #6c4cf0;
 border-color: #6c4cf0;
}
label{
 font-size: 14px;
 font-weight: 600;
 color: grey;
}
.form-control{
 border: none;
 font-weight: 500;
 font-size: 14px;
}